/*-- scss:defaults --*/

$font-family-sans-serif: "Fixel Text", "LXGW WenKai Screen", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !default;

$font-family-monospace: "LXGW Bright Code", "LXGW WenKai Screen", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", "Courier New", monospace !default;

$web-font-path: false !default;

$font-size-root: 16px !default;
$line-height-base: 1.75 !default;
$font-size-base: 1rem !default;

$primary: #539BF5 !default;

$body-color: #ADBAC7 !default;
$link-color: #539BF5 !default;

$code-bg: #2D333B !default;
$code-color: #ADBAC7 !default;

$body-secondary: #768390 !default;

$navbar-fg: #ADBAC7 !default;

$callout-color-note: #6CB6FF !default;
$callout-color-tip: #57AB5A !default;
$callout-color-warning: #C69026 !default;
$callout-color-important: #986EE2 !default;
$callout-color-caution: #E5534B !default;
$callout-color-danger: #E5534B !default;

$border-color: rgba(205, 217, 229, 0.1) !default;
$table-bg: transparent !default;

/*-- scss:rules --*/
